.slider{
    background-color:bisque;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 1em;
}

.slide {
    height: 30vh;
    border-radius: 20px;
    margin: 10px;
    color: #fff;
    flex: 1;
    background-image: url('https://images.unsplash.com/photo-1563499836861-870c095095b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide h3 {
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
  }
