.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 1em;
    margin-top: 20px;
}

.slide {
    height: 30vh;
    border-radius: 20px;
    margin-right: 20px;
    color: #fff;
    flex: 1;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3RToK-1ttw_05aqMhA9MYrzdGI3SzwgILgQ&usqp=CAU');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide h3 {
    font-size: 24px;
    padding-top: 21vh;
    padding-left: 10px;
    bottom: 20px;
    left: 20px;
    margin: 0;
  }
  .slider{
    margin: 40px auto;
  }
