.img{
    width: 100px;
    height: 100px;
}
.addPizza{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 30px;
    margin: 20px 0;
}

.addPizza > img {
    text-align: center;
}