.header{
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
}

.left{
    min-width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.right{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.logo{
    max-width: 270px;
    margin-right: 20px;
}

.star{
    width: 18px;
}

.space{
    margin-right: 20px;
    margin-top: 20px;
}
.button{
    background-color: rgba(252, 107, 55, 0.923);
    border: navajowhite 2px;
    border-radius: 20px;
    padding: 10px 15px;
}